

h1 {
    font-family: Garamond;
    color: #007d58;
}

p {
    font-family: Helvetica;
}

</* Old Body

body {
    font-family: SimplonBP,sans-serif,-apple-system,BlinkMacSystemFont;
    padding: .1rem .4rem;
    font-size: 90%;
    color: #007d58;
    border-radius: .1335rem
}

*/

body {
    margin: 0;
    color: #1A2A3B;
    font-family: SimplonBP,sans-serif,-apple-system,BlinkMacSystemFont;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    background-color: #faf7f0;
}

#banner-gem {
    height: 300px;
    width: 100vw;
}

.navigation {
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #007d58;
    background-color: #faf7f0; 
    position: fixed;
    width: 100%;
}

.navigation p {
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #007d58;
    background-color: white; 
    position: fixed;
    display: inline-block;
    width: 100px;
}

footer {
    background-color: #faf7f0;
}

.footer-nav p {
    display: inline-block
    margin: 10px;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #007d58;
    background-color: #faf7f0; 
    position: fixed;
    display: inline-block;
    width: 100px;
    
}

/* Color Palette


Bright Green
#1c2b3b

Dark Green
#1c2b3b

Light Grey/Pink Background
#faf7f0
*/